:root {
  --brand-gradient: linear-gradient(90deg, #fc4a1a 0%, #f7b733 100%);
  --brand-color-primary: #f7b733;
  --brand-color-secondary: #fc4a1a;
  --background-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-secondary: #a1a1aa;
  --text-color-primary: #f4f4f5;
}
